/* Primary font : Montserrat
   Secondary Font: Open Sans 
   Resource : Google Font - https://fonts.google.com/
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0;
    font-family: "open-sans", sans-serif;
    background-color: #F0ECE3;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}


/* Home page starts */
.Home .Hero-cont {
    height: 100vh;
    width: 100%;
    background-image: url("/images/banner-home.jpg");
    background-size: cover;
    background-position: center;
}


#mobile-nav {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.logo {
    height: 80px;
    width: 80px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
    transition: .3s;
}

.subscription-cont {

    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #2c3333;
    margin: 2rem auto;
    width: 35%;
    border-radius: 8px;
}

.color-fff {
    color: #fff;
}

.subscription-header,
.subscription-tagline {
    margin: 0;
}

.subscription-form-cont form {
    display: grid;
    grid-template-columns: 1fr;
}

.subscription-form-cont {
    margin: 1rem;
}

.subscription-form-cont form input[type="email"] {
    padding: 1rem;
    border-radius: 8px;

}

.subscription-form-cont form button {
    color: #F0ECE3;
    border: 1px solid #F0ECE3;
    background-color: #2C3333;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    width: fit-content;
    justify-self: center;
    cursor: pointer;

}

.subscription-form-cont form button:hover {
    background-color: #F0ECE3;
    color: #2C3333;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.category-card-cont {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 1rem;
}

.category-card-cont .container {
    width: 22%;
    /* Adjusted to 25% for four containers in one row */
    position: relative;
}

.category-card-cont .image {
    display: block;
    width: 100%;
    height: auto;
    opacity: .7;
}

.category-card-cont .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2C3333;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
    opacity: .5;
}

.category-card-cont .container:hover .overlay {
    transform: scale(1);
}

.category-card-cont .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



/* Home Page ends */

/* About Us */

.about-us body {
    margin: 0;
    padding: 0;
    background-color: #E7F6F2;
}

.about-us h2 {
    font-size: 2em;
    font-family: 'Roboto', 'Gabriola', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    color: rgb(8, 70, 184);
}

nav a:hover {
    text-shadow: 0px 0px 1px rgb(20, 70, 20);
}

nav ul li {
    display: inline-block;
}

.about-us .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.about-us #banner {
    background-image: url("images/pexels-cottonbro-studio-4761663.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top;
}

.about-us .circle-icons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}

.about-us .circle-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us .circle-icon img {
    max-width: 100%;
    max-height: 100%;
}

.about-us .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.about-us .photo-box {
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
}

.about-us .photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.about-us .description {
    margin-top: 20px;
    max-width: 1000px;
    text-align: justify;
}

.about-us .testimonials {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.about-us .testimonial-box {
    padding: 20px;
    background-color: #2C3333;
    transform: rotate(0deg);
    color: #fff;
    border-radius: 6px;
}

.about-us .testimonial-box:hover {
    transform: rotate(-3deg);
}

/* Services Page CSS  - Start*/

.text-center {
    text-align: center;
}

.services .subtitle-header {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.services .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    padding: 1.5rem;
}

.services .service-info-image {
    height: 300px;
    width: 200px;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.services .service-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    background-color: #2c3333;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.services .membershipContainer {
    display: flex;
    gap: 5rem;
    justify-content: space-around;
}

.services .hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/pexels-pixabay-260447.jpg');
    width: 100%;
    height: 100vh;
    color: #FFF;
    background-position: top;
    background-size: cover;
}

.services h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: calc(100vh - 65%);
}


.services .membershipCard img {
    width: 100%;
    height: 350px;
    border-radius: 8px 8px 0 0;
}

.services .membershipCard {
    margin: auto;
    text-align: center;
    background-color: #f5f5f5;
}


.services .membershipCard:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px 8px 0 0;
}

.services .price {
    color: grey;
    font-size: 22px;
}

.services .membershipCard .membershipContent {
    padding: 0.5rem;
}

.services .membershipCard button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.services .membershipCard button:hover {
    opacity: 0.7;
}

.services .service-context {
    padding: 1rem 5rem;
}

.services .service-context:has(h2, p) {
    color: white !important;
}


/* Table CSS */


.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}


th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #2c3333;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Table CSS */



/* Services Page CSS - End */

/* blog-css starts */
.Hero-cont {
    height: 100vh;
    width: 100%;
    background-image: url("/images/banner-blog.jpg");
    background-size: cover;
    background-position: center;
}

/* blog-css */
.blog .gridContainer {
    display: grid;
    grid-template-columns: 800px 1fr;
    grid-gap: 1.5rem;
    padding: 1.5rem;
}

.content {
    width: 90%;
    margin: 30px auto 30px;
}
.blog .recent-post-title{
    margin: 1rem 4rem;
}

.blog {
    background-color: #F0ECE3;
}

.blog .content {
    padding: 0%;
}

.blog .content .main-content {
    float: left;
}

.blog .content .main-content .post {
    height: 400px;
    margin: 10px auto;
    border-radius: 8px;
    background: #2c3333;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: white;
}

.blog .content .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #F0ECE3;
    background: transparent;
    border-radius: 8px;
    color: #F0ECE3 !important;
}

.blog .content .main-content .post .read-more:hover {
    background: green;
    color: white !important;
    transition: .25s;
}

.blog .content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;
}

.blog .content .main-content .post .post-preview {
    width: 55%;
    padding: 10px;
    float: right;
}

.blog .content .main-content .recent-post-title {
    margin: 20px;
}

.blog .content .sidebar {
    float: left;
    background-color: #f0ece3;
}

.blog .content .sidebar .section {
    padding: 20px;
    background: #2c3333;
    border-radius: 5px;
    margin-bottom: 20px;
}

.blog .content .sidebar .section .section-title {
    margin: 10px 0px;
    color: white;
}
.blog .content .main-content .post .post-preview a {
    text-decoration: none;
    color: #F0ECE3;
}

.blog .content .sidebar .section .side-topics{
    color: white;
}
.blog .chips-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    cursor: pointer;
}

.blog .chips {
    background-color: green;
    border-radius: 10px;
    padding: 1rem;
    color: white;
    width: fit-content;
    margin: 0;
    height: fit-content;
}

.blog .chips:hover {
    background-color: #C7B198;
    color: #f0f0f0;
}

.blog .content .sidebar .section .search {
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.blog .content .sidebar .section .topics {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.blog .content .sidebar .section .topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #f0f0f0;
    list-style-type: none;
}

.blog .content .sidebar .section.topics ul li a {
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #f0f0f0;
    transition: all 0.3s;

}

.blog .content .sidebar .section.topics ul li a:hover {
    padding: 10px;
    transition: all 0.3s;

}

.blog .clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.blog .btn {
    padding: .5rem 1rem;
    background: skyblue;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.blog .btn:hover {
    color: white !important;
    background: red;
}

.blog .text-input {
    padding: .7rem 1rem;
    display: block;
    width: 90%;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    color: #444;
    line-height: 1.2rem;
    font-size: 1.2em;
    font-family: 'lora', serif;
}

/* blog page ends */






/* Contact us page starts */

/* Style for the image after navigation */
.image-after-nav {
    text-align: center;
    /* Center the image horizontally */
    margin-top: 20px;
    /* Adjust margin-top to create space between nav and image */
}

.image-after-nav img {
    max-width: 90%;
    /* Ensure the image doesn't exceed its container's width */
    border-radius: 10px;
    /* Apply border radius for rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Apply box shadow for depth effect */
}


/* Style for main content */
.contact-us main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    /* Adjust max-width as needed */
    margin-top: 20px;
    gap: 1rem;
}

.contact-info div{
    width: 100%;
}

.contact-info .location,
.contact-info .email,
.contact-info .phone {
    background-color: #f0f0f0;
    /* Background color for the container */
    padding: 20px;
    /* Padding to create space inside the container */
    border-radius: 10px;
    /* Rounded corners for the container */
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-info .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info .info-item i {
    margin-right: 10px;
}

.contact-us .Hero-cont{
    background-image: url("images/pexels-max-vakhtbovycn-7031705.jpg");
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
}


/* Style for map section */
.map {
    width: 100%;
    max-width: 800px;
    /* Adjust max-width as needed */
    margin-top: 20px;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: none;
}

/* Style for message form section */
.message-form {
    width: 100%;
    max-width: 800px;
    /* Adjust max-width as needed */
    margin-top: 20px;
}

.message-form h2 {
    margin-bottom: 20px;
}

.message-form form {
    display: flex;
    flex-direction: column;
}

.message-form label {
    margin-bottom: 10px;
}

.message-form input,
.message-form textarea {
    padding: 10px;
    margin-bottom: 10px;
}

.message-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.message-form button:hover {
    background-color: #555;
}

/* Contact us page ends */


/* footer */

.footer-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #2C3333;
    color: white;
    margin-top: 50px;
}

.nav-column {
    display: flex;
    flex-direction: column;
}

.nav-column h3 {
    margin-bottom: 10px;
}

.nav-column ul {
    list-style: none;
    padding: 0;
}

.nav-column li {
    margin-bottom: 5px;
}

/* footer ends */



/* Media Queries */
@media only screen and (max-width: 1024px) {
    nav ul li {
        font-size: 12px;
    }

    nav ul {
        width: 100%;
        padding: 0;
        text-align: center;
    }


    .services .membershipContainer {
        gap: 1rem;
    }

.blog .gridContainer{
    grid-template-columns: 600px 1fr;
}

}


@media only screen and (max-width: 768px) {
    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
        flex-direction: column;
        background-color: #2C3333;
    }

    .subscription-cont {
        width: 80%;
    }


    .container {
        padding: 10px;
    }

    .circle-icons {
        flex-wrap: wrap;
        gap: 66px;
    }

    .circle-icon {
        margin-bottom: -20px;
    }

    .photo-grid {
        grid-template-columns: 1fr;
    }

    .testimonial-box {
        width:
            100%;
    }

    nav {
        flex-direction: column;
    }



    nav ul li {
        display: block;
    }


    .testimonials {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-box {
        width: 90%;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .footer-nav {
        grid-template-columns: repeat(2, 1fr);
    }


    .services .service-info {
        flex-direction: column;
    }

    .services .service-context {
        padding: 1rem;
    }

    .blog .gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
}

.blog .preview-text {
    display: none;
}
.blog .content .main-content .post .post-preview {
    padding: 1rem;
    float: left;
    width: fit-content;
}

.blog .content .main-content .post{
    height: 300px;
}
.blog .content .main-content .post .post-image {
    display: none;
}
.blog .content .main-content .post .read-more {
    display: flex;
    width: fit-content;
    margin: 1rem auto ;
}

    .services h1 {
        top: calc(100vh - 50%);
    }

   
    /* Adjust this breakpoint as needed */
    .category-card-cont .container {
        width: 50%;
        /* Change to 50% for two containers in one row */
    }
}

/* For mobile Screens */
@media screen and (max-width: 600px) {

    /* Table CSS */
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        display: flex;
    }

    th,
    td {
        padding: 0.5rem;
        border: 1px solid #ddd;
        display: block;
        text-align: left;
        min-height: 1.25em;
    }

    th {
        background-color: #2c3333;
        color: white;
    }



    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }

    tbody tr {
        display: inline-block;
        vertical-align: top;
    }

    tbody td {
        display: block;
        text-align: left;
    }

    thead th {
        display: block;
        text-align: left;
    }

    /* Table CSS */

    .services .membershipContainer {
        flex-direction: column;
    }
    .contact-info{
        flex-direction: column;
    }

    .contact-info div {
        width: 90%;
    }
        /* Adjust this breakpoint as needed */
        .category-card-cont .text {
            font-size: 15px;
        }
}